/* 

desktop screen size < 1940px 

*/
@media (width > 1900px) {
  .burger-menu {
    display: none;
  }
}
@media (1333px < width < 1919px) {
  .burger-menu {
    display: none;
  }

  /* 

start media queries (tablette size) 

*/
}
@media (656px < width < 1334px) {
  /*----- START BURGER MENU ------*/
  .nav-list {
    position: absolute;
    flex-direction: column;
    left: -100%;
    top: -5%;
    background-color: #af9ab350;
    backdrop-filter: blur(7px);
    width: 100%;
    height: 65%;
    text-align: center;
    transition: 0.25s;
  }
  .nav-list li {
    padding: 25px;
  }
  .burger-menu {
    position: absolute;
    right: 50px;
  }
  .mobile-menu {
    left: 0%;
  }

  /*----- END BURGER MENU ------*/
  /* ----- START VOYAGE RESPONSIVE ------ */
  .voyage-and-text {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
  }
  .voyage-and-text > p {
    width: 90%;
    margin: auto;
    order: 2;
  }
  .image-principal-voyage {
    width: 100%;
  }
  .fieldset-avis-travel {
    width: 90%;
  }
  /* ----- END VOYAGE RESPONSIVE ------ */
  /* ----- START PRICE AND BUY ----- */
  .container-price-and-buy-before {
    flex-direction: column;
    gap: 10px;
    width: 75%;
  }
  .border-price,
  .border-buy {
    border-radius: 20px;
    width: 75%;
  }
  /* ----- END PRICE AND BUY ----- */
  /* ----- START AGENCE RESPONSIVE ------ */
  .why-us-paragraphe,
  .question-container {
    width: 80%;
  }
  .title-agence {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .review-tittle-travel {
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
  }
  .commentary-travel {
    width: auto;
  }
  /* ----- END AGENCE RESPONSIVE ------ */
  /* ----- START FORM RESPONSIVE ------ */

  textarea {
    width: 100%;
  }
  /* ----- END FORM RESPONSIVE ------ */
}
/*

  start media queries (mobile size)

*/
@media (width < 658px) {
  /*----- START BURGER MENU ------*/
  .nav-list {
    position: absolute;
    flex-direction: column;
    left: -100%;
    top: -5%;
    background-color: #af9ab350;
    backdrop-filter: blur(7px);
    width: 100%;
    height: 65%;
    text-align: center;
    transition: 0.25s;
  }
  .nav-list li {
    padding: 25px;
  }
  .burger-menu {
    position: absolute;
    right: 10px;
  }
  .mobile-menu {
    left: 0%;
  }
  .search-bar {
    margin-left: 10%;
  }
  /*----- END BURGER MENU ------*/
  /* ----- START VOYAGE RESPONSIVE ------ */
  .voyage-and-text {
    flex-wrap: wrap;
    gap: 20px;
  }
  .voyage-and-text > p {
    width: 90%;
    margin: auto;
    order: 2;
  }
  .image-principal-voyage {
    width: 100%;
  }
  .review-tittle-travel {
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
  }
  .fieldset-avis-travel {
    width: 100%;
  }
  .price-and-buy {
    padding-bottom: 5%;
    gap: 10px;
  }
  /* ----- END VOYAGE RESPONSIVE ------ */
  /* ----- START CAROUSEL TRAVEL CITY ----- */
  .picture-voyage {
    display: none;
  }
  .picture-voyage-all-carousel {
    border-radius: 20px;
    width: 450px;
    height: 450px;
  }
  /* ----- END CAROUSEL TRAVEL CITY ----- */
  /* ----- START AGENCE RESPONSIVE ------ */
  .why-us-paragraphe,
  .question-container {
    width: 80%;
  }
  .title-agence {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .why-us-picture {
    width: 100%;
  }
  /* ----- START PRICE AND BUY ----- */
  .container-price-and-buy-before {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .border-price,
  .border-buy {
    border-radius: 20px;
    width: 80%;
  }
  /* ----- END PRICE AND BUY ----- */
  /* ----- END AGENCE RESPONSIVE ------ */
  /* ----- START CONTACT FORM ------ */
  textarea {
    width: 100%;
    margin: auto;
  }
  .button-form {
    padding: 4% 8%;
  }
  /* ----- END CONTACT FORM ------ */
}

/*START TRAVELS INDEX RESPONSIVE*/
/*Small DEKSTOP*/
@media (1230px < width < 1625px) {
  .description-travels {
    margin-bottom: 30px;
  }

  .title-promotions {
    margin-bottom: 20px;
    text-align: center;
  }

  .description-promotions {
    margin-bottom: 30px;
    text-align: center;
  }

  .all-travels {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-left: 100px;
    margin-top: 200px;
  }

  .item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .base-area {
    width: 1000px;
  }
}

/*TABLETTE*/
@media (656px < width < 1230px) {
  .description-travels {
    margin-bottom: 30px;
  }

  .best-promo {
    width: 100%;
    border-radius: 0px;
  }

  .all-travels {
    margin-left: 0px;
  }

  .imgCards-big {
    border-radius: 0px 20px 0px 0px;
    width: 650px;
  }

  .title-promotions {
    margin-bottom: 20px;
    text-align: center;
  }

  .description-promotions {
    margin-bottom: 30px;
    text-align: center;
  }

  .cards-travels-big {
    width: 650px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(99, 99, 99, 0.267);
    background-color: #fff1e4;
  }

  .bg-all-travels {
    border-radius: 0px 20px 20px 0px;
  }
  .bg-all-travels-futur {
    border-radius: 0px 20px 20px 0px;
  }
  .bg-all-travels-DP {
    border-radius: 0px 20px 20px 0px;
  }

  .all-travels {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
  }

  .base-area {
    width: 656px;
  }

  .cards-travels-small {
    width: 315px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(99, 99, 99, 0.267);
    background-color: #fff1e4;
    padding-bottom: 15px;
  }
  .imgCards-SM {
    width: 315px;
  }
}

/*PHONE*/
@media (width < 658px) {
  .title-travels {
    text-align: center;
    margin-bottom: 20px;
  }

  .description-travels {
    margin-bottom: 30px;
    text-align: center;
  }

  .main-img-travels {
    width: 500px;
  }

  .best-promo {
    width: 100%;
    border-radius: 0px;
  }
  .best-promo-img {
    width: 400px;
  }
  .title-bestpromo {
    font-size: 18px;
  }
  .description-bestpromo {
    width: 350px;
  }
  .info-best-promo {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title-promotions {
    margin-bottom: 20px;
    text-align: center;
  }

  .description-promotions {
    margin-bottom: 30px;
    text-align: center;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    position: relative;
  }

  .div-btn-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cards {
    margin-bottom: -50px;
  }

  .base-area {
    display: none;
  }
  .bg-all-travels {
    position: absolute;
    background-color: #ff8b2c;
    width: 400px;
    height: 700px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: -20px;
  }
  .bg-all-travels-futur {
    position: absolute;
    background-color: #ff4646;
    width: 400px;
    height: 700px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: -20px;
  }
  .bg-all-travels-DP {
    position: absolute;
    background-color: #46cbff;
    width: 400px;
    height: 700px;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: -20px;
  }
  .review-travelers-travel {
    margin-top: -50px;
  }
}

/*END TRAVELS INDEX RESPONSIVE*/
