@font-face {
    font-family: back-to-the-future;
    src: url(/font/BackToTheFuture/BTTF.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*START HEADER*/
/*NavBar*/
header {
    background-image: url(/images/header_image.jpg);
}

.search-bar {
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    margin-left: 150px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    margin-right: 150px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

nav {
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #55555523;
}

/*presentation*/
.intro-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titre-agence {
    font-family: back-to-the-future;
    font-size: 70px;
    width: 70vh;
    padding-top: 100px;
    margin-left: 70px;
}
.arrowBTTF {
    font-size: 100px;
}

.desc-agence {
    margin-left: 115px;
    margin-top: 80px;
    font-family: sans-serif;
    font-weight: bold;
    width: 60vh;
    padding-bottom: 220px;
    font-size: 25px;
    color: wheat;
}
/*END HEADER*/

.cards-fav {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    width: 120vh;
    box-shadow: 5px 5px 5px rgba(80, 80, 80, 0.308);
    background-color: #55555523;
}
.desc-cards-prime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.btn-cards {
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    width: 170px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(255, 132, 31);
}

/* 

css voyage 

*/
