@font-face {
  font-family: back-to-the-future;
  src: url(/font/BackToTheFuture/BTTF.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(/font/poppins/poppins-regular.woff);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins-regular;
}

/*START HEADER*/
/*NavBar*/

header {
  background-image: url(/images/header_image.jpg);
  background-size: cover;
}

.search-bar {
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  margin-left: 150px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
  margin-right: 150px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

nav {
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #55555523;
}

/*presentation*/
.intro-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.tittle-agence {
  font-family: back-to-the-future;
  font-size: 70px;
  width: 80vh;
  padding-top: 100px;
  margin-left: 70px;
}
.arrowBTTF {
  font-family: back-to-the-future;
  font-size: 100px;
}

.desc-agence {
  margin-left: 115px;
  margin-top: 80px;
  font-family: sans-serif;
  font-weight: bold;
  width: 60vh;
  padding-bottom: 220px;
  font-size: 25px;
  color: wheat;
}
/*END HEADER*/

/*SECTION 1 - MAIN TRAVELS*/
.title-h2 {
  font-family: back-to-the-future;
  margin: 100px 15px;
}

.Main-Travels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.cards-prim {
  display: flex;
  box-shadow: 5px 5px 5px rgba(99, 99, 99, 0.267);
  width: 1300px;
  height: 400px;
  border-radius: 50px;
}

.imgCards-prim {
  border-radius: 50px 0px 0px 50px;
}

.description-cards-prim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.btn-cards {
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(255, 132, 31);
}

/*SECTION 2 - OTHERS TRAVELS*/

.others-travels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 60px;
  margin-left: 150px;
  margin-right: 150px;
}

.cards {
  width: 450px;
  height: 512px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(99, 99, 99, 0.267);
  margin-bottom: 50px;
}

.imgCards {
  border-radius: 20px 20px 0px 0px;
}

/* 

css voyage 

*/

/* 

START FOOTER  

*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #fff1e4;
  padding-top: 3%;
  flex-wrap: wrap;
}
/* left side */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo-middle {
  margin: auto;
}
figure > figcaption {
  font-family: back-to-the-future;
}
/* middle side */
.footer-middle {
  text-align: center;
}
.footer-informations {
  font-size: 23px;
  padding-bottom: 10px;
}
/* right side */
.footer-right {
  text-align: center;
}
.footer-right-small-text {
  font-size: 10px;
}
/* 

END FOOTER  

*/
/*





START CSS VOYAGE





*/
.background-section {
  background-color: #fffbe9;
}
.titre-voyage {
  text-align: center;
  padding: 2% 0%;
  font-family: back-to-the-future;
}
/* 

image and paragraphe 

*/
.voyage-and-text {
  display: flex;
  gap: 5%;
  padding: 0% 2%;
  width: 100%;
}
.voyage-and-text > p {
  width: 50%;
  background-color: rgba(100, 144, 211, 0.288);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  line-height: 28px;
  padding: 1%;
}
.image-principal {
  border-radius: 20px;
}
/* 

PICTURE VOYAGE 

*/
.picture-voyage {
  padding: 2% 0%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.picture-voyage > img {
  box-shadow: 0 3px 20px rgba(173, 169, 169, 2);
  border-radius: 20px;
}
/* 
COMMENTAIRE 
*/

.commentaire {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  gap: 10px;
  height: auto;
}
.commentaire > p {
  height: 80%;
  border-radius: 20px;
  background-color: #64c6d3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
/*
PRICE AND BUY
*/
.price-and-buy {
  margin-top: 3%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}
.price {
  background-color: #bc6e6e;
  width: 300px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
}
.buy {
  background-color: #bc6e6e;
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 1.2%;
}
.buy:hover {
  cursor: pointer;
}
/* 

END CSS VOYAGE

*/
