@font-face {
  font-family: back-to-the-future;
  src: url(/font/BackToTheFuture/BTTF.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(/font/poppins/poppins-regular.woff);
}

@font-face {
  font-family: Aquire;
  src: url(/font/Aquire/Aquire-BW0ox.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins-regular;
}

.bodyindex {
  background-image: url(/images/BackgroundRightSideHRopa50.png);
  background-size: contain;
}

hr.rounded {
  border-top: 8px solid #272727;
  border-radius: 0px 5px 5px 0px;
  width: 300px;
  margin-top: 150px;
  margin-bottom: 25px;
}

.rounded-cards {
  border-top: 2px solid #272727;
  border-radius: 5px 5px 5px 5px;
  width: 900px;
  margin-top: 30px;
  margin-bottom: 25px;
}

/*START HEADER*/
/*NavBar*/

.index-header {
  background-image: url(/images/header_image.jpg);
  background-size: cover;
}

.search-bar {
  padding-left: 10px;
  font-family: poppins-regular;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  margin-left: 150px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
  margin-right: 150px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #55555523;
}

/*presentation*/
.intro-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.tittle-agence {
  font-family: back-to-the-future;
  font-size: 70px;
  padding-top: 150px;
  margin-left: 70px;
  width: 800px;
}
.arrowBTTF {
  font-family: back-to-the-future;
  font-size: 100px;
}

.desc-agence {
  margin-left: 115px;
  margin-top: 100px;
  font-family: sans-serif;
  font-weight: bold;
  width: 570px;
  padding-bottom: 220px;
  font-size: 25px;
  color: wheat;
}
/*END HEADER*/

/*SECTION 1 - MAIN TRAVELS*/
.title-h2 {
  font-family: Aquire;
  font-size: 40px;
  margin: 0px 0px 100px 15px;
}

.Main-Travels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 160px;
}

.title-travels-prim {
  margin-left: 30px;
  font-size: 40px;
}

.best-travel-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.relative-price {
  font-family: poppins-regular;
  text-align: center;
  color: rgb(255, 245, 189);
  width: 200px;
  height: 230px;
  background-color: rgba(73, 73, 73, 0.322);
  border-radius: 15px;
  position: absolute;
  right: 20%;
  top: -50px;
}

.price-cards {
  text-align: center;
  background-color: rgb(231, 119, 14);
  border-radius: 15px 15px 0px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.span-price {
  font-size: 25px;
  font-weight: bold;
}

.divider-price-cards {
  border-top: 2px solid rgb(255, 227, 176);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bonus-price-cards {
  margin-top: 15px;
}

.little-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 35, 255);
  text-align: center;
  height: 35px;
  border-radius: 0px 0px 5px 5px;
}

.flex-day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 60px;
}

.description-day {
  width: 400px;
  font-family: poppins-regular;
}

.travels-day {
  font-family: poppins-regular;
  font-size: 25px;
  background-color: rgb(207, 207, 207);
  border-radius: 5px;
  color: orangered;
}

.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.divider-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgCards-prim {
  border-radius: 30px 0px 0px 30px;
}
.imgCards-primR {
  border-radius: 0px 30px 30px 0px;
}

.description-cards-prim {
  font-family: poppins-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.btn-cards {
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(255, 132, 31);
}

/*SECTION 2 - OTHERS TRAVELS*/
/*START - CAROUSEL*/
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  width: 800px;
  position: relative;
}

.btn-carousel {
  display: block;
  position: absolute;
  background: none;
  border: none;
  outline: none;
  font-size: 2.6rem;
  z-index: 2;
  cursor: pointer;
  color: rgb(31, 31, 31);
  transform: translateY(-50%);
  top: 35%;
}

#prev {
  left: 5px;
}
#next {
  right: 5px;
}

.carousel li {
  list-style-type: none;
}

.slide {
  position: absolute;
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

/*END CAROUSEL*/

.others-travels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 60px;
  margin-left: 150px;
  margin-right: 150px;
}

.cards {
  width: 450px;
  height: 540px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(99, 99, 99, 0.267);
  margin-bottom: 50px;
  background-color: #fff1e4;
}

.title-sm-cards {
  font-size: 24px;
}

.imgCards {
  border-radius: 20px 20px 0px 0px;
}

.description-cards {
  font-family: poppins-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 15px;
  text-align: center;
}

.review-travelers {
  margin: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.review-tittle {
  font-size: 30px;
}

.fieldset-avis {
  margin-top: 30px;
  height: 230px;
  width: 1000px;
}

.titre-coms {
  font-size: 18px;
  font-weight: bold;
}

.commentary {
  background-color: rgb(255, 253, 250);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}

/* 

START FOOTER  

*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff1e4;
  padding-top: 3%;
  padding-bottom: 3%;
  flex-wrap: wrap;
}
/* left side */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo-middle {
  margin: auto;
}
figure > figcaption {
  font-family: back-to-the-future;
}
/* middle side */
.footer-middle {
  text-align: center;
}
.footer-informations {
  font-size: 23px;
  padding-bottom: 10px;
}
/* right side */
.footer-right {
  text-align: center;
}
.footer-right-small-text {
  font-size: 10px;
}
/* 



END FOOTER  



*/
/*



START CSS VOYAGE



*/
.background-section {
  background-image: url("images/BackgroundLeftSideHRopa50.png");
}
.titre-voyage {
  text-align: center;
  padding: 2% 0%;
  font-family: back-to-the-future;
}
/* 

image and paragraphe 

*/
.voyage-and-text {
  display: flex;
  gap: 5%;
  padding: 0% 2%;
  width: 100%;
}
.voyage-and-text > p {
  width: 50%;
  background-color: rgba(100, 144, 211, 0.288);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  line-height: 28px;
  padding: 1%;
}
.image-principal {
  border-radius: 20px;
}
/* 

PICTURE VOYAGE 

*/
.picture-voyage {
  padding: 2% 0%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.picture-voyage > img {
  box-shadow: 0 3px 20px rgba(173, 169, 169, 2);
  border-radius: 20px;
}
/* 
COMMENTAIRE 
*/

.commentaire {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  gap: 10px;
  height: auto;
}
.commentaire > p {
  height: 80%;
  border-radius: 20px;
  background-color: #64c6d3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
/*
PRICE AND BUY
*/
.price-and-buy {
  margin-top: 3%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}
.price {
  background-color: #bc6e6e;
  width: 300px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
}
.buy {
  background-color: #bc6e6e;
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 1.2%;
}
.buy:hover {
  cursor: pointer;
}
/* AVIS */
.review-travelers-travel {
  margin: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.review-tittle-travel {
  font-size: 30px;
}

.fieldset-avis-travel {
  margin-top: 30px;
  width: 60%;
  height: 30%;
}

.titre-coms-travel {
  font-size: 18px;
  font-weight: bold;
}

.commentary-travel {
  background-color: rgb(255, 253, 250);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}
/* 

END CSS VOYAGE

*/
/* 

START CSS AGENCE

*/
/* agence story */
.histoire {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  gap: 30px;
  line-height: 25px;
  font-size: 20px;
  padding: 2%;
  border-radius: 20px;
}
.title-agence {
  text-align: center;
  padding-top: 3%;
}
/* why us */
.why-us-container {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.why-us-paragraphe {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  font-size: 20px;
  gap: 20px;
  padding-right: 5%;
}
.why-us-picture {
  border-radius: 20px;
}
/* faq */
.faq-container {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}
.question-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  font-size: 20px;
  gap: 20px;
}
.q-r {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 5%;
}
/* 



END CSS AGENCE



*/
/* 



START CSS FORMULAIRE



*/
/* BACKGROUND */
.background-section-form {
  background-image: url("images/deloreanForm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* OUTSIDE FORM */
.formulaire {
  display: flex;
  justify-content: center;
  padding: 2% 0%;
}
/* INSIDE FORM */
.title-form {
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5%;
  align-items: center;
  height: 700px;
  border-radius: 20px;
  padding: 2%;
  width: 80%;
  margin: auto;
  background-color: #b3b3b380;
  border: none;
}

.input-form {
  border: 1px rgb(192, 192, 192) solid;
  border-radius: 20px;
  width: 400px;
  height: 50px;
  background-color: #f7f3f3fd;
  padding: 2%;
  border: none;
}
textarea {
  border: none;
  border-radius: 20px;
  padding: 2%;
  background-color: #f7f3f3fd;
}
/* BUTTON */
.button-form {
  padding: 2% 5%;
  border-radius: 15px;
  border: none;
  background-color: #e46b6b;
}
/* HOVER  */
.input-form:hover {
  transform: scale(1.05);
  transition: all ease 500ms;
  cursor: pointer;
}
.button-form:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
  cursor: pointer;
}
/* 


END CSS FORMULAIRE


*/
/* 


START CSS TRAVEL


*/
.background-travel {
  background-image: url("images/BackgroundRightSideHRopa50.png");
  background-size: contain;
}
.title-travel {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}
.others-travels-travel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 60px;
  margin-left: 150px;
  margin-right: 150px;
}
.cards-travel {
  width: 450px;
  height: 540px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(99, 99, 99, 0.267);
  margin-bottom: 50px;
  background-color: #fff1e4;
}

.imgCards-travel {
  border-radius: 20px 20px 0px 0px;
}
.description-cards-travel {
  font-family: poppins-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 15px;
  text-align: center;
}
.btn-cards-travel {
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(255, 132, 31);
}
.btn-cards-travel:hover {
  cursor: pointer;
}
/* 


END CSS TRAVEL


*/
